@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    height: 100%;
    position: relative;
    margin: 0;
    font-family: "Inter Tight", -apple-system, 'Segoe UI', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background-color: #FFFFFF;
    overflow-x: hidden;
}

body {
    background-color: #FDFDFD;
    max-width: 414px;
    margin: 0 auto;
    overflow-x: hidden;
}

#root {
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.divider {
    position: relative;
    margin: 1rem 0;
    height: 1px;
}

.divider:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(48, 49, 51), transparent);
}

.page {
    background-color: #FDFDFD;
    height: 100%;
    padding: 4em 1.2em 2.5em;
    overflow: hidden;
}

.page h5.subtitle,
.page .h5.subtitle {
    font-weight: 200;
    margin-top: -3px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea.form-control {
    padding: .8rem 1.5rem;
}

form .input-guide {
    color: #d1a164;
    font-size: .9rem;
    margin-top: -3px;
}

/********* NAVIGATION BAR **********/
#navigation-bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: .7rem 1.2rem 0;
    width: 100%;
    height: 90px;
    background-color: #F5F5F5;
    left: 0;
    bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, .25);
    color: #8a8a8a;
    z-index: 999;
}

#navigation-bar .nav-btn {
    width: calc((100% - 2.4rem) / 5);
    text-align: center;
    cursor: pointer;

}

#navigation-bar .nav-btn .icon {
    font-size: 1.6rem;
}

#navigation-bar .nav-btn .name {
    font-size: .7rem;
}

#navigation-bar .nav-btn.active .icon {
    color: #0052ff;
}

#navigation-bar .nav-btn.active .name {
    color: #063e76;
    font-weight: 600;
}

/********* PROFILE PICTURE *********/
#profile-picture {
    position: relative;
    font-size: 1rem;
}

#profile-picture .letters {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
}

/******** TOP RIGHT BUTTONS ********/
#top-right-buttons {
    position: absolute;
    right: 1.2rem;
    z-index: 10;
    display: flex;
    align-items: center;
    font-size: 22px;
    gap: 18px;
}
#top-right-buttons .icon {
    margin-top: -3px;
    cursor: pointer;
}

/********** PERSONAL AREA **********/
.personal-area.page {
    overflow-x: auto;
    padding-top: 2rem;
    position: relative;
}

.personal-area.page #dashboard,
.personal-area.page #wallet,
.personal-area.page #transactions,
.personal-area.page #evener,
.personal-area.page #stats {
    height: 100%;
    position: relative;
}

.personal-area.page .page-title {
    font-weight: 700;
    margin: 3px 0 0;
    font-size: 24px;
}
.personal-area.page .body {
    margin-top: 25px;
    min-height: 100vh;
}

/*********** DASHBOARD ************/
#splash-first-access {
    display: flex;
    margin-top: 205px;
    padding: 90px 20px 20px;
    height: calc(100% - 310px);
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    --r: 28px;
    --s: 90px;
    --a: 25deg;
    width: 100%;
    aspect-ratio: 1;
    background: linear-gradient(50deg, #dfffed, #c9f0ff);
    border-radius: var(--r);
    --_m: 0 / calc(2* var(--r)) var(--r) no-repeat radial-gradient(50% 100% at bottom, #000 calc(100% - 1px), #0000);
    --_d: (var(--s) + var(--r))* cos(var(--a));
    mask: calc(50% + var(--_d)) var(--_m), calc(50% - var(--_d)) var(--_m), radial-gradient(var(--s) at 50% calc(-1* sin(var(--a))* var(--s)), #0000 100%, #000 calc(100% + 1px)) 0 calc(var(--r)*(1 - sin(var(--a)))) no-repeat, linear-gradient(90deg, #000 calc(50% - var(--_d)), #0000 0 calc(50% + var(--_d)), #000 0);
}

#splash-first-access-illustration {
    width: 100%;
    left: 0;
    top: 60px;
    position: absolute;
    text-align: center;
}

#splash-first-access-illustration img {
    width: 160px;
    margin: 0 auto;
}

#splash-first-access .title {
    font-family: "Baloo Da 2", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    font-size: 27px;
    font-weight: 600;
    letter-spacing: -.8px;
}

#splash-first-access .subtitle {
    font-size: 18px;
    font-weight: 500;
    margin: -5px 0 25px;
}

#splash-first-access .body {
    font-size: 16px;
}

.callout.page {
    position: absolute;
    width: 100%;
    padding: 0;
    top: 0;
    z-index: 100;
}

/************ SETTINGS *************/
#settings.page {
    padding-top: 2rem;
}

#settings.page .settings-header {
    margin: 40px 0 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/************* LOADER **************/

.loader {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.loader>svg {
    transform: scale(1.3);
}

.loader.login {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.loader.app {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #FDFDFD;
}

.password-strength-bar>*>div {
    height: 4px !important;
    border-radius: 20px;
}

.password-strength-bar>p {
    margin-top: 3px !important;
}

/************* HOME PAGE **************/

#home.page {
    padding: 3rem 1.2rem 2.5rem;
}

#home.page .header-title {
    font-size: 48px;
    font-weight: 100;
    margin-top: 50px;
    width: 310px;
}

#home.page .typewriter-wrapper {
    font-family: 'Baloo Da 2';
    color: #0052ff;
    font-weight: 800;
    font-size: 55px;
}

#home.page .illustration-wrapper,
#home.page .logo-wrapper {
    text-align: center;
}

#home.page .illustration {
    width: 80%;
}

#home.page .logo {
    width: 60%;
}

/************* CURRENCY INPUT **************/
input.currency-input {
    border: none;
    background: none;
    font-weight: 600;
    font-size: 55px;
    width: 100%;
    color: #000080;
    padding: .8rem 0px !important;
}

input.currency-input:focus-visible {
    outline: none;
}

input.currency-input:focus-visible::placeholder {
    color: #000080;
}

#AddAsset form label {
    font-size: 14px;
    margin-bottom: 4px;
}

/*************** WALLET ****************/

#wallet .starred {
    overflow-x: visible;
    position: relative;
    margin-bottom: 25px;
}

#wallet .starred .cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: scroll;
    width: calc(100% + 2.4rem);
    margin-left: -1.2rem;
    padding: 0 1.2rem;
}
#wallet .starred .cards::-webkit-scrollbar {
  display: none;
}

#wallet .starred .cards > * {
    flex: 0 0 185px;
}

#wallet .starred .cards > * > * {
    width: 185px !important;
    height: 115px !important;
}
#wallet .starred .cards > * > .no-favourites {
    padding: 1rem;
    border-radius: 0.25rem;
    border: 4px dashed #000080;
}
#wallet .starred .cards > * > .favourite {
    padding: .8rem .6rem;
    border-radius: 0.25rem;
    border: 1px solid #000080;
    background-color: #0052ff;
    color: #F5F5F5;
}

#wallet .label {
    font-weight: 300;
}

#wallet .assets-list .items {
    width: calc(100% + 2.4rem);
    margin-left: -1.2rem;
    margin-top: 10px;
    border-radius: 0;
}
#wallet .assets-list .items > * > * {
    border-radius: 0;
    height: 60px;
}
#wallet .assets-list .items > * > .asset {
    padding: 0 1.2rem;
    background-color: #ffffff;
    display: flex;
    border-top: .5px solid #ebebeb;
    align-items: center;
    justify-content: space-between;
}

#wallet .assets-list .items > * > .asset:last-child {
    border-bottom: .5px solid #ebebeb;
}
#wallet .assets-list .items > * > .asset .asset-name {
    font-weight: 500;
}
#wallet .assets-list .items > * > .asset .asset-favourite-selector,
#wallet .assets-list .items > * > .asset .asset-hidden-selector {
    color:#575757;
    transform: scale(.9);
    margin-top: -2px;
    cursor: pointer;
}