@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #f1f3f6;
    --highlight-background: #ffffff;
    --text-color: #212529;
    --inverse-text-color: #d8d8d8;
    --highlight-text: #000000;
    --list-background: #ffffff;
    --list-border: #dfdfdf;
    --nav-background: #f5f5f5;
    --nav-link-color: #063e76;
    --palette-blue-1: #000080;
    --palette-blue-2: #0052ff;
    --palette-blue-3: #01a0ff;
    --palette-blue-4: #77cdff;
    --palette-yellow: #ffda18;
    --splash-bgcolor-1: #dfffed;
    --splash-bgcolor-2: #c9f0ff;
    --currency-input-color: #000080;
    --list-dropdown-background: #ffffff;
}

html:not(.dark-mode) {
    background: #fafafa;
}

html.dark-mode {
    --background: #202020;
}

body.dark-mode,
body.dark-mode .page {
    --background: #333333;
    --highlight-background: #212529;
    --text-color: #d8d8d8;
    --inverse-text-color: #212529;
    --highlight-text: #ffffff;
    --list-background: #2b2b2b;
    --list-border: #444444;
    --nav-background: #242424;
    --nav-link-color: #6ea5dd;
    --palette-blue-1: #77cdff;
    --palette-blue-2: #01a0ff;
    --palette-blue-3: #0052ff;
    --palette-blue-4: #000080;
    --splash-bgcolor-1: #006930;
    --splash-bgcolor-2: #001b7b;
    --currency-input-color: #d8d8d8;
    --list-dropdown-background: #000000;
}

html,
body {
    height: 100%;
    position: relative;
    margin: 0;
    font-family: "Inter Tight", -apple-system, 'Segoe UI', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    background-color: var(--background);
    color: var(--text-color);
}

body {
    max-width: 414px;
    margin: 0 auto;
}

#root {
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.callout.page {
    position: absolute;
    width: 100%;
    padding-top: 2rem;
    top: 0;
    left: 0;
    z-index: 1000;
}

.callout.page.sub {
    z-index: 2000;
}

.callout.page.subsub {
    z-index: 3000;
}

.divider {
    position: relative;
    margin: 1rem 0;
    height: 1px;
}

.divider:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, var(--text-color), transparent);
}

.page {
    background-color: var(--background);
    height: 100%;
    padding: 4em 1.2em 2.5em;
    overflow: hidden;
}

.page h5.subtitle,
.page .h5.subtitle {
    font-weight: 200;
    margin-top: -3px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea.form-control {
    padding: .8rem 1.5rem;
}

form .input-guide {
    color: #d1a164;
    font-size: .9rem;
    margin-top: -3px;
}

/********* NAVIGATION BAR **********/
#navigation-bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: .7rem 1.2rem 0;
    width: 100%;
    height: 90px;
    background-color: var(--nav-background);
    left: 0;
    bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, .25);
    color: #8a8a8a;
    z-index: 999;
}

#navigation-bar .nav-btn {
    width: calc((100% - 2.4rem) / 5);
    text-align: center;
    cursor: pointer;

}

#navigation-bar .nav-btn .icon {
    font-size: 1.6rem;
    transition: color .1s, transform .1s, margin .1s;
}

#navigation-bar .nav-btn .name {
    font-size: .7rem;
    transition: color .1s, font-weight .1s;
}

#navigation-bar .nav-btn.active .icon {
    color: var(--palette-blue-2);
    margin-top: -2px;
    margin-bottom: 2px;
    transform: scale(1.1);
}

#navigation-bar .nav-btn.active .name {
    color: var(--nav-link-color);
    font-weight: 600;
}

/********* PROFILE PICTURE *********/
#profile-picture {
    position: relative;
    font-size: 1rem;
}

#profile-picture .letters {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
}

/******** TOP RIGHT BUTTONS ********/
#top-right-buttons {
    position: absolute;
    right: 1.2rem;
    z-index: 10;
    display: flex;
    align-items: center;
    font-size: 22px;
    gap: 18px;
}

#top-right-buttons .icon {
    margin-top: -3px;
    cursor: pointer;
    color: var(--text-color);
}

/********** PERSONAL AREA **********/
.personal-area.page {
    overflow-x: auto;
    padding-top: 2rem;
    position: relative;
}

.personal-area.page #dashboard,
.personal-area.page #wallet,
.personal-area.page #transactions,
.personal-area.page #evener,
.personal-area.page #stats {
    height: 100%;
    position: relative;
}

.personal-area.page .page-title {
    font-weight: 700;
    margin: 3px 0 0;
    font-size: 24px;
}

.personal-area.page .callout.page .page-title {
    font-weight: 500;
    font-size: 22px;
}

.personal-area.page .body {
    margin-top: 25px;
}

/*********** SPLASH FIRST ACCESS ************/
#splash-first-access {
    display: flex;
    margin-top: 205px;
    padding: 90px 20px 20px;
    height: calc(100% - 310px);
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    --r: 28px;
    --s: 90px;
    --a: 25deg;
    width: 100%;
    aspect-ratio: 1;
    background: linear-gradient(50deg, var(--splash-bgcolor-1), var(--splash-bgcolor-2));
    border-radius: var(--r);
    --_m: 0 / calc(2* var(--r)) var(--r) no-repeat radial-gradient(50% 100% at bottom, #000 calc(100% - 1px), #0000);
    --_d: (var(--s) + var(--r))* cos(var(--a));
    mask: calc(50% + var(--_d)) var(--_m), calc(50% - var(--_d)) var(--_m), radial-gradient(var(--s) at 50% calc(-1* sin(var(--a))* var(--s)), #0000 100%, #000 calc(100% + 1px)) 0 calc(var(--r)*(1 - sin(var(--a)))) no-repeat, linear-gradient(90deg, #000 calc(50% - var(--_d)), #0000 0 calc(50% + var(--_d)), #000 0);
}

#splash-first-access-illustration {
    width: 100%;
    left: 0;
    top: 60px;
    position: absolute;
    text-align: center;
}

#splash-first-access-illustration img {
    width: 160px;
    margin: 0 auto;
}

#splash-first-access .title {
    font-family: "Baloo Da 2", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    font-size: 27px;
    font-weight: 600;
    letter-spacing: -.8px;
}

#splash-first-access .subtitle {
    font-size: 18px;
    font-weight: 500;
    margin: -5px 0 25px;
}

#splash-first-access .body {
    font-size: 16px;
}

/************ DASHBOARD *************/
.personal-area.page #dashboard .total-balance {
    background-color: var(--palette-blue-2);
    border-radius: 5px;
    color: #fefefe;
    padding: 10px 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    margin-top: 1.5rem;
    font-weight: 600;
}

.personal-area.page #dashboard .total-balance .label {
    font-weight: 300;
    font-size: 15px;
}

.personal-area.page #dashboard .total-balance .icon {
    font-size: 28px;
    margin-right: 10px;
}

/************ SETTINGS *************/
#settings.page {
    padding-top: 2rem;
}

#settings.page .settings-header {
    margin: 40px 0 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/************* LOADER **************/

.loader {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.loader>svg {
    transform: scale(1.3);
}

.loader.login {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.loader.app {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--background);
}

.password-strength-bar>*>div {
    height: 4px !important;
    border-radius: 20px;
}

.password-strength-bar>p {
    margin-top: 3px !important;
}

/************* HOME PAGE **************/

#home.page {
    padding: 3rem 1.2rem 2.5rem;
}

#home.page .header-title {
    font-size: 48px;
    font-weight: 100;
    margin-top: 50px;
    width: 310px;
}

#home.page .typewriter-wrapper {
    font-family: "Baloo Da 2", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    color: var(--palette-blue-2);
    font-weight: 800;
    font-size: 55px;
}

#home.page .illustration-wrapper,
#home.page .logo-wrapper {
    text-align: center;
}

#home.page .illustration {
    width: 80%;
}

#home.page .logo {
    width: 60%;
}

/************* CURRENCY INPUT **************/
input.currency-input {
    border: none;
    background: none;
    font-weight: 600;
    font-size: 55px;
    width: 100%;
    color: var(--currency-input-color);
    padding: .8rem 0px !important;
}

input.currency-input:focus-visible {
    outline: none;
}

input.currency-input:focus-visible::placeholder {
    color: var(--currency-input-color) !important;
}

#add-asset form label,
#add-transaction form label {
    font-size: 14px;
    margin-bottom: .3rem;
}

body.dark-mode input.currency-input::placeholder {
    color: #a4a4a4;
}

/*************** WALLET ****************/

#wallet .starred {
    overflow-x: visible;
    position: relative;
    margin-bottom: 25px;
}

#wallet .starred .cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: scroll;
    width: calc(100% + 2.4rem);
    margin-left: -1.2rem;
    padding: 0 0.7rem;
}

#wallet .starred .cards::-webkit-scrollbar {
    display: none;
}

#wallet .starred .cards>* {
    flex: 0 0 auto;
    height: 130px
}

#wallet .starred .cards>*>* {
    height: 130px !important;
    line-height: unset;
    display: block;
    min-width: 210px;
}

#wallet .starred .cards>*>.no-favorites {
    position: absolute;
    padding: 1rem;
    padding-left: 1.5rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 103% !important;
}

#wallet .starred .cards>*>.no-favorites>.no-favorites-image {
    margin: -1rem;
    margin-left: -40px;
    margin-top: 2.3rem;
    height: 280px;
}

#wallet .starred .cards>*>.no-favorites>.no-favorites-label {
    position: relative;
    left: -20px;
    flex: 1 0 160px;
    text-align: center;
    font-weight: 500;
}

#wallet .starred .cards>*>.favorite {
    padding: .8rem .9rem 1rem .6rem;
    border-radius: .85rem;
    background: linear-gradient(0.4turn, var(--palette-blue-3), var(--palette-blue-2));
    color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

#wallet .label {
    font-weight: 300;
}

#wallet .assets-list .items {
    width: calc(100% + 1rem);
    margin-left: -.5rem;
    margin-top: 10px;
    overflow-y: scroll;
    height: calc(100vh - 2rem - 310px);
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

#wallet .assets-list .items::-webkit-scrollbar {
    display: none;
}

#wallet .assets-list .items.edit>.asset-wrapper {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

#wallet .assets-list .items>*>* {
    height: 60px;
    line-height: unset;
}

#wallet .assets-list .items>*>.asset {
    padding: 0 1.2rem;
    background-color: var(--list-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    /*box-shadow: 1px 1px 2px var(--list-border);*/
}

#wallet .assets-list .items>*>.asset .asset-name {
    font-weight: 500;
}

#wallet .assets-list .items>*>.asset .asset-favorite-selector,
#wallet .assets-list .items>*>.asset .asset-hidden-selector {
    color: #575757;
    transform: scale(.9);
    margin-top: -2px;
    cursor: pointer;
}

#wallet .starred .cards>*>.favorite .asset-logo,
#wallet .assets-list .items>*>.asset .asset-logo {
    flex-shrink: 0;
}

#wallet .starred .cards>*>.favorite .asset-logo>*,
#wallet .assets-list .items>*>.asset .asset-logo>* {
    border-radius: 50%;
    padding: 6px;
    height: 34px;
    width: 34px;
    margin-right: 10px;
    margin-left: -10px;
}

#wallet .starred .cards>*>.favorite .asset-logo .type-icon,
#wallet .assets-list .items>*>.asset .asset-logo .type-icon {
    display: flex;
    background: #9a7300;
    color: #ebebeb;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

#wallet .starred .cards>*>.favorite .asset-logo .source-logo,
#wallet .assets-list .items>*>.asset .asset-logo .source-logo {
    background: #ffffff;
    object-fit: contain;
}

#wallet .starred .cards>*>.favorite .asset-logo {
    position: relative;
    margin: 0;
    /*
    --r: 25px;
    transform: scale(1, -1);
    line-height: 1.8;
    padding-inline: .5em;
    border-right: var(--r) solid #0000;
    border-radius: var(--r) calc(2.4* var(--r)) 0 0 / var(--r);
    mask: radial-gradient(var(--r) at 100% 0, #0000 98%, #000 101%) 100% 100% / var(--r) var(--r) no-repeat, conic-gradient(#000 0 0) padding-box;
    background: border-box;
    width: fit-content;
    */
}

/*
#wallet .starred .cards>*>.favorite .asset-logo:has(> .source-logo) {
    background-color: #ffffff;
}
#wallet .starred .cards>*>.favorite .asset-logo:has(> .type-icon) {
    background-color: #b39a00;
}
*/
#wallet .starred .cards>*>.favorite .asset-logo .source-logo,
#wallet .starred .cards>*>.favorite .asset-logo .type-icon {
    /*
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
    */
    margin: 0;
    height: 42px;
    width: 42px;
}

#wallet .starred .cards>*>.favorite .asset-logo .type-icon {
    background-color: #b39a00;
    font-size: 18px;
}

#wallet .starred .cards>*>.favorite .asset-name {
    margin-top: 4px;
    font-weight: 600;
    font-size: 17px;
}

#wallet .starred .cards>*>.favorite .asset-type {
    margin: -2px 0 3px;
    font-weight: 300;
    font-size: 13px;
}

#wallet .starred .cards>*>.favorite .asset-balance {
    text-align: right;
    font-size: 19px;
    font-weight: 600;
    padding: .4rem .7rem;
    background: #00000020;
    border-radius: 9px;
    margin: 0 -.3rem -.4rem auto;
    width: fit-content;
}

.personal-area.page #asset-detail {
    display: flex;
    justify-content: space-between;
}

.personal-area.page #asset-detail .asset-balance {
    background-color: #0040c7;
    border-radius: 5px;
    color: #fefefe;
    padding: 1rem;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
}

.personal-area.page #asset-detail .asset-balance>.asset-balance-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personal-area.page #asset-detail .asset-balance>.asset-balance-wrapper .label {
    font-weight: 300;
    font-size: 15px;
}

.personal-area.page #asset-detail .asset-balance>.asset-balance-wrapper .icon {
    font-size: 28px;
    margin-right: 10px;
}

.personal-area.page #asset-detail .asset-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.personal-area.page #asset-detail .asset-actions>* {
    flex: 1 0;
    display: flex;
    gap: 8px;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    /* box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 25%); */
    border: 1px solid #c4c4c4;
    cursor: pointer;
}

.personal-area.page #asset-detail .asset-actions>*>.icon {
    margin-top: -3px
}

.personal-area.page #asset-detail .asset-actions>*>.label {
    font-size: 14px;
}

.personal-area.page #asset-detail .asset-actions>.set-starred.is-starred {
    border-color: #cb9800;
    background-color: #cb9800;
    color: #fff5d8;
    font-weight: 500;
}

.personal-area.page #asset-detail .asset-actions>.set-hidden-from-total.is-hidden {
    border-color: #b11818;
    background-color: #b11818;
    color: #ffe2e2;
    font-weight: 500;
}

@media screen and (max-width: 414px) {
    #wallet .starred .cards>*>.no-favorites>.no-favorites-image {
        height: 66vw;
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 380px) {
    #wallet .starred .cards>*>.no-favorites>.no-favorites-image {
        height: 60vw;
        margin-top: 0;
        margin-left: -30px;
    }
}

body.dark-mode .btn-outline-danger {
    --bs-btn-color: #f04d5d;
    --bs-btn-border-color: #f04d5d;
    --bs-btn-hover-color: #dadada;
    --bs-btn-hover-bg: #f04d5d;
    --bs-btn-hover-border-color: #f04d5d;
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #dadada;
    --bs-btn-active-bg: #f04d5d;
    --bs-btn-active-border-color: #f04d5d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f04d5d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f04d5d;
    --bs-gradient: none;
}

/*@keyframes shake {
    0% { transform: translateY(0px) rotate(0deg); }
    10% { transform: translateY(-1px) rotate(-.5deg); }
    20% { transform: translateY(0px) rotate(0deg); }
    30% { transform: translateY(1px) rotate(.5deg); }
    40% { transform: translateY(0px) rotate(0deg); }
    50% { transform: translateY(-1px) rotate(-.5deg); }
    60% { transform: translateY(0px) rotate(0deg); }
    70% { transform: translateY(1px) rotate(.5deg); }
    80% { transform: translateY(0px) rotate(0deg); }
    90% { transform: translateY(-1px) rotate(.5deg); }
    100% { transform: translateY(0px) rotate(0deg); }
  }*/


mark,
.mark {
    font-weight: 700;
    color: var(--highlight-text);
    padding: unset;
    background: unset;
}

.rbt-input-hint {
    color: var(--highlight-text) !important;
}

#add-asset .asset-name-autocomplete-image {
    background: #ffffff;
    border-radius: 50%;
    padding: 3px;
    height: 32px;
    width: 32px;
    margin-right: 10px;
    object-fit: contain;
}

#add-asset .rbt>input.form-control {
    position: relative;
    z-index: 40;
}

#add-asset #asset-name-autocomplete {
    margin-top: -8px;
    padding-top: calc(0.5rem + 8px);
    z-index: 30;
    background-color: var(--list-dropdown-background);
}

#add-asset #asset-name-autocomplete:not(:has(> a[id^="asset-name-autocomplete-item"])) {
    display: none !important;
}

#add-asset .asset-type-detail {
    background-color: #ffd81854;
    border-radius: var(--bs-border-radius);
    position: relative;
}

#add-asset .asset-type-detail .rbt>.selected.asset-name-autocomplete-image {
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 50;
}

#add-asset .asset-type-detail #asset-type-selector {
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    height: 32px;
    padding: 3px 7px 3px 10px;
    background: var(--palette-blue-1);
    border-radius: 50px;
    right: 13px;
    top: 9px;
    width: 144px;
    justify-content: flex-end;
    gap: 8px;
    cursor: pointer;
    transition: width ease-out .8s;
    color: var(--inverse-text-color);
}

#add-asset .asset-type-detail #asset-type-selector.selected {
    width: 32px;
    background: #ffd81854;
    color: var(--text-color);
}

#add-asset .asset-type-detail #asset-type-selector>#asset-type-selector-title {
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    transition: opacity .8s;
}

#add-asset .asset-type-detail #asset-type-selector>#asset-type-selector-icon {
    margin-top: -1px;
    font-size: 18px;
    flex: 0 0 auto;
}

body.dark-mode .btn-outline-warning {
    --bs-btn-color: #c19100;
    --bs-btn-border-color: #c19100;
    --bs-btn-hover-color: #f3f3f3;
    --bs-btn-hover-bg: #9a7300;
    --bs-btn-hover-border-color: #9a7300;
    --bs-btn-focus-shadow-rgb: 255, 193, 7;
    --bs-btn-active-color: #f3f3f3;
    --bs-btn-active-bg: #9a7300;
    --bs-btn-active-border-color: #9a7300;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #c19100;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #c19100;
    --bs-gradient: none;
}

#add-asset #select-asset-type .asset-type-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#add-asset #select-asset-type .asset-type-list>.asset-type {
    padding: 0 1.2rem 0 0;
    background-color: var(--list-background);
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    height: 57px;
    gap: 15px;
    margin-left: 20px;
    border-right-color: var(--list-background);
    border-right-style: solid;
    border-right-width: 5px;
    transition: border-right-color .5s, background-color .5s;
}

#add-asset #select-asset-type .asset-type-list.selected>.asset-type.active {
    border-right-color: #9a7300;
    background-color: #474747;
}

#add-asset #select-asset-type .asset-type-list.selected>.asset-type:not(.active)>.asset-type-icon {
    background-color: #1f1f1f;
}

#add-asset #select-asset-type .asset-type-list>.asset-type>.asset-type-name {
    font-size: 15px;
    line-height: 18px;
    transition: font-weight .2s;
}

#add-asset #select-asset-type .asset-type-list>.asset-type.active>.asset-type-name {
    font-weight: 600;
}

#add-asset #select-asset-type .asset-type-list>.asset-type>.asset-type-icon {
    font-size: 25px;
    background-color: #9a7300;
    height: 62px;
    width: 62px;
    border-radius: 50%;
    margin-left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: background-color .2s;
}

#add-asset #select-asset-type .asset-type-list>.asset-type.active>.asset-type-icon {
    background-color: #9a7300;
}

#add-asset #select-asset-type .asset-type-list>.asset-type:hover>.asset-type-icon {
    background-color: #9a7300;
}

#add-transaction .sub.page .body {
    margin-top: 0;
}

#add-transaction .type-selector {
    display: flex;
    padding: 5px;
    width: calc(100% + .8rem);
    border: 1px solid var(--list-background);
    background-color: var(--highlight-background);
    border-radius: 50px;
    margin-top: -5px;
    margin-left: -.4rem;
}

#add-transaction .type-selector>.selector {
    flex: 1 0 33.33%;
    border-radius: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .2s, font-weight .2s;
}

#add-transaction .type-selector>.selector.active {
    background-color: var(--palette-blue-3);
    font-weight: 600;
}

#add-transaction .type-selector>.selector:hover {
    background-color: var(--background);
}

#add-transaction .type-selector>.selector.active:hover {
    background-color: var(--palette-blue-3);
}

#add-transaction .near-create-button {
    height: 50px;
    width: 50px;
    flex: 0 0 auto;
    background-color: var(--highlight-background);
    border: 1px solid var(--list-border);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: inherit
}

#add-transaction .near-create-button>* {
    transform: scale(1.2);
}

#add-transaction .asset-picker {
    background: linear-gradient(0.4turn, var(--palette-blue-3), var(--palette-blue-2));
    border: var(--bs-border-width) solid var(--bs-border-color);
    height: 71px;
    border-radius: 23px;
    padding: .8rem 1.5rem;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    width: 95%;
    color: inherit;
    text-decoration: inherit;
}

#add-transaction .asset-picker.list-0 {
    background: #4b4e51;
    width: 100%;
    font-weight: 600;
    gap: 8px;
}

#add-transaction .asset-picker+.plus-btn {
    position: absolute;
    right: 0;
    border: 1px solid;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    font-size: 25px;
    justify-content: center;
    padding-top: 6px;
    background-color: var(--bs-body-bg);
}

#add-transaction #select-involved-assets .asset-list {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: -4px;
    margin-right: -4px;
}

#add-transaction #select-involved-assets .asset-list .asset {
    height: 60px;
    line-height: unset;
    padding: 0 1.2rem;
    background-color: var(--list-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

#add-transaction #select-involved-assets .asset-list .asset .asset-name {
    font-weight: 500;
}

#add-transaction #select-involved-assets .asset-list .asset .asset-logo {
    flex-shrink: 0;
}

#add-transaction #select-involved-assets .asset-list .asset .asset-logo>* {
    border-radius: 50%;
    padding: 6px;
    height: 34px;
    width: 34px;
    margin-right: 10px;
    margin-left: -10px;
}

#add-transaction #select-involved-assets .asset-list .asset .asset-logo .type-icon {
    display: flex;
    background: #9a7300;
    color: #ebebeb;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

#add-transaction #select-involved-assets .asset-list .asset .asset-logo .source-logo {
    background: #ffffff;
    object-fit: contain;
}

#add-transaction #select-involved-assets .asset-list.selected .asset{
    background: linear-gradient(0.4turn, var(--palette-blue-3), var(--palette-blue-2));
}